[submodule "vendor/rust-src"]
	path = vendor/rust-src
	url = https://github.com/anza-xyz/rust
[submodule "vendor/cargo-src"]
	path = vendor/cargo-src
	url = https://github.com/anza-xyz/cargo
[submodule "vendor/newlib-src"]
	path = vendor/newlib-src
	url = https://github.com/anza-xyz/newlib
[submodule "vendor/rust-overlay"]
	path = vendor/rust-overlay
	url = https://github.com/meta-introspector/rust-overlay
[submodule "vendor/nixpkgs-mozilla"]
	path = vendor/nixpkgs-mozilla
	url = https://github.com/meta-introspector/nixpkgs-mozilla
